.button {
	font-size: 14pt;
	padding: 0.7em;
	text-align: center;
	border: 0;
	background: 0;
	border-radius: 4px;
	box-shadow: 0;
}

.button:focus {
	outline: 0 !important;
}

.button:active {
	outline: 0 !important;
}

.button.blue {
	background-color: hsl(195, 100%, 75%);
	color: #505050;
}

.button.blue:active {
	background-color: hsl(195, 62%, 65%);
}

.button.green {
	background-color: hsl(126, 72%, 68%);
	color: #505050;
}

.button.green:active {
	background-color: hsl(126, 45%, 57%);
}

.button.red {
	background-color: #FF8080;
	color: #505050;
}

.button.red:active {
	background-color: #d36666;
}

.button.gray {
	background-color: hsl(0, 0%, 66%);
	color: #FFF;
}

.button.gray:active {
	background-color: hsl(0, 0%, 56%);
}