$settings-size: 25vw;

.ingredient-settings {
	background-color: #EEE;
	width: $settings-size;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2em;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
}

.ingredient-settings .preview {
	width: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ingredient-settings .preview img {
	width: 400px;
}

.ingredients-container {
	display: flex;
	padding: 0em 4em;
	justify-content: center;
	flex-direction: column;
	width: 100vw - $settings-size;
	box-sizing: border-box;
	margin: auto;
}

.ingredients {
	display: flex;
	flex-wrap: wrap;
	user-select: none;
}

.ingredients .ingredient {
	display: flex;
	flex-direction: column;
	margin: 0.5em;
	border-radius: 10px;
	position: relative;
}

.ingredient.dragging {
	display: flex;
	flex-direction: column;
	margin: 0.5em;
	border-radius: 10px;
}

.ingredient.dragging>div {
	background-color: transparent !important;
	color: transparent !important;
	background-image: none !important;
	border: 0 !important;
}

.ingredient .icon {
	width: 200px;
	height: 200px;
	background-position: 50%;
	background-size: auto 100%;
	margin: 0;

	background-color: #CCC;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-top: 2px solid #CCC;
	border-left: 2px solid #CCC;
	border-right: 2px solid #CCC;
	box-sizing: border-box;
}

.ingredient .info {
	background-color: #E0E0E0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 0.5em;
	margin: 0;
	width: 200px;
	display: inline-block;
	word-break: break-word;
	box-sizing: border-box;
}

.ingredient .delete-button {
	border-radius: 100%;
	background-color: #bbb;
	position: absolute;
	right: -8px;
	top: -8px;
	width: 30px;
	height: 30px;
	font-size: 16pt;
	line-height: 23pt;
	text-align: center;
}

.add-ingredient {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.add-ingredient>div:first-child>div:first-child {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.add-ingredient>div:first-child>div:first-child div {
	width: 250px;
	height: 250px;
	background-position: 50%;
	background-size: auto 100%;
}

.add-ingredient .inputs {
	display: flex;
	flex-direction: column;
	margin-top: 0.5em;
}

.add-ingredient .inputs>* {
	margin: 0.25em 0em;
}

.add-ingredient .added-list {
	width: 100%;
	height: 630px;
	border: 2px solid #CCC;
	border-radius: 4px;
	margin-left: 1em;
	box-sizing: border-box;
	overflow: auto;
}

.add-ingredient .dialog {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-top: 1em;
}

.add-ingredient .dialog * {
	width: 100%;
}

.ingredient.edit {
	margin: 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ingredient.edit .info {
	width: 270px;
	height: 380px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	padding: 0.75em;
}

.ingredient.edit .info>b {
	margin-bottom: 0.5em;
}

.ingredient.edit .settings {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.ingredient.edit .settings>div {
	display: flex;
	flex-direction: column;
}

.ingredient.edit .settings>div>* {
	margin: 0.2em 0em;
}

.ingredient.edit .remove {
	align-self: flex-end;
}
